{% extends 'layout/index.html.twig' %}

{% block title %}Labrinth Restaurant{% endblock %}

{% block main %}
    <div class="h-80 w-full mt-6 text-center">
        <p class="font-gwendolyn text-white text-9xl">Labrinth</p>
        <p class="font-gwendolyn text-white text-xl">{{ 'catch.your.lunch'|trans }}</p>
    </div>
{% endblock main %}
