{% extends 'layout/layout.html.twig' %}

{% block title %}Labrinth Restaurant{% endblock %}

{% block body %}
    <p class="text-center mt-2 text-base text-text cursor-pointer">4875 Wolf Pen Road, California</p>
    {{ knp_menu_render('main', {'template': 'menu/knp_menu.html.twig'}) }}
    {% block main %}
    {% endblock main %}
{% endblock %}
