{% extends 'layout/index.html.twig' %}

{% block title %}Cart{% endblock %}
 <div class="flex flex-wrap flex-row">
   <div id="items">

   </div>
  <div>

  </div>
 </div>
{% block main %}

 <script src="{{ asset('js/cartPage.js') }}"></script>
{% endblock %}
