{% extends '@EasyAdmin/page/content.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
{% endblock %}
{% block main %}
    <h1 class="text-yellow-400">
        hello
    </h1>
{% endblock main %}