{% extends 'base.html.twig' %}

{% block body %}
    <a target="_blank" href="https://www.google.com/maps/search/4875+Wolf+Pen+Road,+California/@37.151605,-124.5916149,6z?entry=ttu"
       class="text-center mt-2 text-base text-lightBlue cursor-pointer block">4875 Wolf Pen Road, California</a>
    {% include 'menu/index.html.twig' %}
    {% block main %}
    {% endblock main %}
{% endblock body %}